.homepage-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f4;
}
.user-input{
    width: 60%;
    margin: 0 auto;
}
.logo-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-wrap img{
    width: 45%;
}
.user-id-form{
    width: 100%;
}
.user-id-form h3,label{
    text-align: center;
    

}
.user-id-form label{
    display: block;
    width: 100% !important;
}
.user-id-form input{
    margin-left: 35%;
    width: 30%;
    display: flex;
    text-align: center;
    font-size: 2rem;
    color: rgb(69, 65, 65);
}
.user-id-form button{
    font-size: 1.5rem;
    border-style: none;
    background-color: #403d39;
    color: white;
    padding: 1%;
    margin-bottom: 3%;
}
button:hover{
    cursor: pointer;
}
.button-wrap{
    display: flex;
    justify-content: center;
}
label{
    font-size: 1.5rem;
}
