.tick-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f4;
}
h3{
    font-size: 1.4rem;
    text-align: center;
}
.tick-center{
    display: flex;
    justify-content: center;
}